*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    padding-top: 35px;
    background-color: black;
    color: white;
    height: 100vh;
}

.menu-superiore{
    position: fixed;
    top: 0;
    right: 0;
    z-index: 500;
}

#speaker-view{
    background-color: grey;
    padding: 5px;
    border-radius: 10%;
    margin: 5px 20px;
    cursor: pointer;
}

#arrow{
    padding: 5px;
    background-color: grey;
    border-radius: 10%;
    margin-top: 5px;
    cursor: pointer;
}

.nome{
    position: relative;
    bottom: 25px;
    width: 100px;
    background-color: gray;
}

.container {
    width: 90%;
    margin: 0 auto;
}

.utenti {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
}

.utente {
        width: 250px;
        padding: 10px 3px;
}

footer {
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    height: 80px;
    background-color: rgb(35, 35, 35);
    display: flex;
    justify-content: space-between;
}

.left-footer{
    padding: 20px 15px;
    display: flex;
    justify-content: flex-start;
    text-align: center;
    cursor: pointer;
}

.central-footer{
    text-align: center;
    display: flex;
    cursor: pointer;
    padding-top: 30px;
}

.right-footer{
    color: red;
    background-color: rgba(128, 128, 128, 0.608);
    padding: 25px;
    cursor: pointer;
}

